// -----------------------------------------------------------------------------
//   Site layout - Grid
// -----------------------------------------------------------------------------

// @see https://ryanmulligan.dev/blog/layout-breakouts/
//   Adapted from this blog post.

@use 'config' as layout-config; // Configure layout.
@use 'sass:math';
@use 'scroll_blocker' as scroll-blocker;

:root {
  --layout-grid-scrollbar-shift: 0;
}

@include scroll-blocker.on-scroll-blocked {
  --layout-grid-scrollbar-shift: calc(var(--scrollbar-gutter) * -1);
}

.layout-container {

  max-width: none;

  margin-left: unset;
  margin-right: unset;

  padding-left: unset;
  padding-right: unset;

  --grid-column-full: minmax(0, 1fr);
  --grid-content-column: min(
    #{layout-config.$no-sidebars-max-width},
    100% - var(--layout-gutter) * 2
  );
  --grid-gutter-column: var(--layout-gutter);

  display: grid;

  grid-template-columns:
    [full-start] var(--grid-column-full)
    [gutter-start] var(--grid-gutter-column)
    [content-start] var(--grid-content-column) [content-end]
    var(--grid-gutter-column) [gutter-end]
    var(--grid-column-full) [full-end];

  // This has zero specificity, making it easy to override.
  :where(& > *) {
    grid-column: content;
  }

}

@supports (grid-template-columns: subgrid) {

  header[role='banner'],
  .region-primary-menu {

    grid-column: full;

    display: grid;

    grid-template-columns: subgrid;

    // This extends these full width elements to take up scrollbar space when
    // scrollblocking is on, if the scrollbars take up space, i.e. are not
    // floating scrollbars. Note that most browsers only show scrollbars on the
    // right side, even in RTL mode.
    margin-right: var(--layout-grid-scrollbar-shift);

  }

  header[role='banner'] .region-header,
  .region-primary-menu .block {

    display: grid;

    grid-template-columns: subgrid;

  }

  header[role='banner'] .region-header {
    grid-column: content;
  }

  .region-primary-menu .block {

    grid-column: full;

    > .menu {
      grid-column: gutter;
    }

  }

}
