// -----------------------------------------------------------------------------
//   Site layout - Global z-index custom properties
// -----------------------------------------------------------------------------

@use 'base:layout/z-index/stacking_order' as stacking-order;
@use 'base:layout/z-index/custom_properties' as custom-properties;

@include custom-properties.output {

  ///
  /// Site reveal animation overlay.
  ///
  --site-reveal-overlay-z-index: #{stacking-order.get(floating-above)};

  ///
  /// Primary menu z-index with Headroom when not at the top.
  ///
  --primary-menu-headroom-not-top-z-index: #{stacking-order.get(
    floating-above,
  )};

  ///
  /// Header overlay z-index, both CSS-only and when enhanced by JavaScript.
  ///
  --header-overlay-z-index: #{stacking-order.get(floating-below)};

  ///
  /// Header elements z-index.
  ///
  --header-z-index: #{stacking-order.get(page-floating)};

  ///
  /// Primary menu z-index.
  ///
  --primary-menu-z-index: #{stacking-order.get(page-floating)};

  ///
  /// Primary menu overlay z-index.
  ///
  --primary-menu-overlay-z-index: #{stacking-order.get(page-floating)};

  ///
  /// Content reveal overlay z-index.
  ///
  /// Mainly used for the front page reveal.
  ///
  --content-reveal-overlay-z-index: #{stacking-order.get(page-floating)};

  ///
  /// Project node z-index.
  ///
  --node-project-z-index: #{stacking-order.get(page-main)};

}
