// -----------------------------------------------------------------------------
//   Site header
// -----------------------------------------------------------------------------

@use 'headroom';
@use 'sass/helpers/colour';
@use 'sass:list';
@use '../variables/general' as *;

///
/// Header stacking order. Later in the list means a higher z-index.
///
$stacking-order: header-top-shadow, region-header, site-name;

header[role='banner'] {
  position: relative;

  // This syncs up the site header with the menu bar Headroom behaviour, so
  // quick scrolling near the top won't show them failing to overlap.
  &.header--menu-bar-sticky {
    @include headroom.headroom-base;

    // Required to prevent the header getting shifted down when viewport
    // displacement is active and Headroom.js is attached.
    --headroom-top: 0;

    // Sass will place this above the @include above, so we have to use the
    // nuclear option to make sure this is relative.
    position: relative !important;
  }

  &.header--unpinned {
    @include headroom.headroom-unpinned;
  }

  // This is required so that the front page animation doesn't mess up the
  // ordering of the top shadow, putting it on top of the site name.
  .region-header {
    position: relative;
    z-index:  list.index($stacking-order, region-header);
  }
}
