// -----------------------------------------------------------------------------
//   Primary site menu
// -----------------------------------------------------------------------------

@use '../layout/scrollbar' as layout-scrollbar;
@use 'sass:list';
@use 'sass/helpers/breakpoint';
@use 'sass/helpers/colour';
@use '../variables/colours';

///
/// Primary menu item font size when large font size breakpoint doesn't match.
///
$font-size-small: 100%;

///
/// Primary menu item font size when large font size breakpoint matches.
///
$font-size-large: 110%;

///
/// Primary menu background colour.
///
$background-colour: colours.$ambientimpact-orange;

@include breakpoint.add((
  // At which height to start using $font-size-large.
  'menu-primary-font-size-large': breakpoint.get-value('height-small')
));

:root {

  ///
  /// Primary menu top shadow colour on light backgrounds.
  ///
  --primary-menu-shadow-top-colour: rgba(0, 0, 0, 0.5);

  ///
  /// Primary menu bottom shadow colour on light backgrounds.
  ///
  --primary-menu-shadow-bottom-colour: rgba(0, 0, 0, 0.5);

  @include colour.on-dark-scheme {

    ///
    /// Primary menu top shadow colour on dark backgrounds.
    ///
    --primary-menu-shadow-top-colour: rgba(0, 0, 0, 1);

    ///
    /// Primary menu bottom shadow colour on dark backgrounds.
    ///
    --primary-menu-shadow-bottom-colour: rgba(0, 0, 0, 0.8);

  }

  ///
  /// Primary menu top shadow.
  ///
  /// Note the spread value which attempts to keep the shadow consistent past
  /// the viewport edge instead of dropping off prematurely.
  ///
  --primary-menu-shadow-top: 0 0 3px 2px var(
    --primary-menu-shadow-top-colour
  );

  ///
  /// Primary menu bottom shadow.
  ///
  /// Note the spread value which attempts to keep the shadow consistent past
  /// the viewport edge instead of dropping off prematurely.
  ///
  --primary-menu-shadow-bottom: 0 1px 3px 2px var(
    --primary-menu-shadow-bottom-colour
  );

  ///
  /// Primary menu shadow elements thickness.
  ///
  --primary-menu-shadow-element-thickness: 1rem;

  ///
  /// Primary menu shadow clip overflow amount.
  ///
  /// This is added to the side (top or bottom) clip to ensure the shadow is
  /// visible only on that edge.
  ///
  --primary-menu-shadow-clip-overflow: 1rem;

  ///
  /// Primary menu top shadow clip path.
  ///
  --primary-menu-shadow-top-clip: polygon(
    0     calc(var(--primary-menu-shadow-clip-overflow) * -1),
    100%  calc(var(--primary-menu-shadow-clip-overflow) * -1),
    100%  100%,
    0     100%
  );

  ///
  /// Primary menu bottom shadow clip path.
  ///
  --primary-menu-shadow-bottom-clip: polygon(
    0     0,
    100%  0,
    100%  calc(100% + var(--primary-menu-shadow-clip-overflow)),
    0     calc(100% + var(--primary-menu-shadow-clip-overflow))
  );

}

.region-primary-menu {

  ///
  /// The local stacking order of elements; later in the list is higher.
  ///
  $local-stacking-order: shadow, content;

  margin-top:     0;
  margin-bottom:  3em;

  // Background colour is applied to this rather than the region so we can
  // reliably layer it above the shadow.
  .block {

    z-index: list.index($local-stacking-order, content);

    @include colour.set(
      $background: $background-colour,
    );

  }

  // Shadow is applied to this instead of the region so that it can be sized
  // independently and transitioned to 0 opacity when the menu bar is unpinned
  // by Headroom.
  &::after {

    content: '';

    position: absolute;

    z-index: list.index($local-stacking-order, shadow);

    bottom:   0;
    left:     0;
    right:    0;

    height: var(--primary-menu-shadow-element-thickness);

    // Clip the shadow so it only extends out from the bottom and not to the
    // sides in case this doesn't extend the full viewport width for any reason.
    clip-path: var(--primary-menu-shadow-bottom-clip);

    box-shadow: var(--primary-menu-shadow-bottom);

    transition-property:        opacity;
    transition-duration:        200ms;
    // Opacity transitions look more natural with linear easing.
    transition-timing-function: linear;

  }

  &.headroom--unpinned {
    &::after {
      opacity: 0;
    }
  }

  .block > .menu {
    position:   relative;

    display:    flex;

    // Override base, as this cuts off the right side of the menu. D:
    max-width:  none;

    // Remove browser default and Classy margins.
    margin-top:     0;
    margin-bottom:  0;
    margin-left:    0;
    margin-right:   0;

    // This allows the menu items to scroll horizontally when the menu has not
    // been enhanced with the overflow functionality or that fails to correctly
    // execute for any reason.
    overflow-x: auto;

    // When overflow is available, switch to visible so that the vertical
    // overflow is shown, which is not the case when the horizontal is clipped
    // because reasons.
    &--overflow-enhanced {
      overflow-x: visible;
    }

    // Space items evenly.
    // IMPORTANT: space-around causes some odd overflow hiding.
    justify-content: space-between;

    // When all items are in the overflow menu, centre-align the overflow
    // toggle, which is the only item visible in that case.
    &--all-overflow {
      justify-content: center;
    }

    // This is the menu overflow measure shadow, which is used to determine what
    // menu items to show or hide without having to alter the visible menu
    // unless/until necessary. This prevents visible jank and other undesirable
    // side effects. Note that the JavaScript takes care of disabling focus/
    // keyboard interaction and hiding this from the accessibility tree.
    &--overflow-measure-shadow {

      position: absolute;

      left:   0;
      right:  0;

      // Required so that menu items don't force the viewport to scroll.
      overflow: hidden;

      opacity: 0;

      pointer-events: none;

    }

    font-size: $font-size-small;

    @include breakpoint.on('>=menu-primary-font-size-large') {
      font-size: $font-size-large;
    }
  }
}

.region-primary-menu-overlay {
  // Remove the max-width set in base:global/_layout.scss so that this correctly
  // covers the whole page width.
  max-width: none;
}
