// -----------------------------------------------------------------------------
//   Media field partial
// -----------------------------------------------------------------------------

@use 'base:components/field_media' as field-media; // @todo This also outputs.
@use '../../stylesheets/layout/scrollbar' as layout-scrollbar;
@use '../../stylesheets/variables/colours'; // Configure colours.
@use 'link/link.colour' as link-colour;
@use 'sass:list';
@use 'sass/helpers/colour';
@use 'sass/patterns/horizontal_bleed_background' as horizontal-bleed-background;

///
/// Media field background colour on light backgrounds.
///
$background-colour-on-light: black !default;

///
/// Media field background colour on dark backgrounds.
///
$background-colour-on-dark: hsl(0, 0%, 30%) !default;

///
/// Common styles for media fields.
///
/// @param {Bool} $use-top-shadow
///   Whether to include the top shadow when using mixin
///   horizontal-bleed-background.
///
@mixin media-field($use-top-shadow: true) {
  $local-stacking-order:  background, content;
  $shadow-settings:       true;

  @if $use-top-shadow == false {
    $shadow-settings: (false, true, true);
  }

  --field-item-gap: #{field-media.$spacing};

  padding: var(--field-item-gap) 0;

  @include colour.set(
    $background:  $background-colour-on-light
  );

  @include horizontal-bleed-background.set(
    $colour:  $background-colour-on-light,
    $z-index: list.index($local-stacking-order, background),
    $shadow:  $shadow-settings
  );

  :any-link {
    @include link-colour.set($background-colour-on-light);
  }

  @include colour.on-dark-scheme {
    @include horizontal-bleed-background.set(
      $colour:  $background-colour-on-dark,
      $z-index: list.index($local-stacking-order, background),
      $shadow:  $shadow-settings
    );

    :any-link {
      @include link-colour.set($background-colour-on-dark);
    }
  }

  &::before {

    @include layout-scrollbar.scroll-block-horizontal-bleed-background;

  }

  // When one or more field items are descendents, target those.
  .field__item,
  // When the field itself is also the field item, target the <figure>.
  &.field__item figure {
    position: relative;

    z-index: list.index($local-stacking-order, content);
  }

  img, picture {
    // This is in case a transparent image is used, which normally assumes a
    // light background colour.
    @include colour.set(
      $background:  white
    );
  }
}
