// -----------------------------------------------------------------------------
//  Typography - Font definitions
// -----------------------------------------------------------------------------

///
/// Fonts directory path relative to this partial.
///
$path: '../../fonts';

@font-face {
  font-family:  'Furore';
  font-weight:  normal;
  font-style:   normal;
  font-display: fallback;

  src:  url('#{$path}/furore/furore-nbsp-fix.woff')
          format('woff'),
        url('#{$path}/furore/furore-nbsp-fix.ttf')
          format('truetype'),
        url('#{$path}/furore/furore-nbsp-fix.svg#Furore')
          format('svg');
}
